- content_for :header do
  = render :partial => "shared/app_header"

- content_for :sidebar do
  = render :partial => "shared/app_sidebar"

- content_for :footer do
  = render :partial => "shared/app_footer"